@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

body{
font-family: "Play", sans-serif;
font-weight: 400;
font-style: normal;
background-image: url("../img/bg1.png");
background-repeat: no-repeat;
background-size: cover;
}


/*defoalt*/

ul{
  margin: 0;
}

h2{
  font-size: 24px;
  margin: 0;
  color: #FFFFFF;
}

h3{
  font-size: 20px;
  margin: 0;
  color: #FFFFFF;
  font-weight: 700;
}

input, textarea {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent;
}

p{
  margin: 0;
}

.navbarinner-sm{
  display: none;
}

.sticky__btns{
  box-sizing: border-box;
  position: fixed;
  padding: 9px 12px;
  z-index: 996;
  right: 0;
  top: 185px;
  max-width: 55px;
  overflow: hidden;
  background: rgba(29, 1, 65, 0.6);
  border-radius: 20px 0px 0px 20px;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  zoom: 0.7;
}

.sticky__btns-item{
  cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 50px;
    width: 40px;
    filter: drop-shadow(0px 0px 10.6176px #00FFE1) drop-shadow(0px 0px 3.0336px #00FFE1) drop-shadow(0px 0px 1.5168px #00FFE1);
    animation: stickyanimate 1.3s linear infinite;
}

.ask{
  margin-right: 5px;
}

.phone{
  margin-right: 10px;
}

@keyframes stickyanimate {
  0% {
    filter: drop-shadow(0px 0px 10.6176px #00FFE1) drop-shadow(0px 0px 2.0336px #00FFE1) drop-shadow(0px 0px 1.5168px #00FFE1);
  }
  50% {
    filter: drop-shadow(0px 0px 10.6176px #00FFE1) drop-shadow(0px 0px 5.0336px #00FFE1) drop-shadow(0px 0px 2.5168px #00FFE1);
}
100% {
  filter: drop-shadow(0px 0px 10.6176px #00FFE1) drop-shadow(0px 0px 2.0336px #00FFE1) drop-shadow(0px 0px 1.5168px #00FFE1);
}
}

.sticky__btns-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  
}

.sticky__btns-list::after{
  content: "";
  position: absolute;
  width: 38px;
  height: 1px;
  background: #ECECEC;
  top: 0;
  bottom: 0;
  left: -3px;
  margin: auto;
  opacity: 0.5;
}

/*containers*/

.section {
  padding: 75px 0 0 0;
  margin: 0 auto;
}

.section__wrap{
  padding: 0px 10px 0 10px;
  margin: 0 auto;
  
}



/*btn*/

.btn__st{
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  background: rgba(177, 149, 255, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(215, 149, 255, 1);
  font-weight: 700;
  font-size: 14px;
  padding: 10px 40px;
  border-radius: 20px;
  display: inline-block;
  border: 1px solid transparent;
  background: linear-gradient(#caa3fddc, #b88bf3) padding-box, linear-gradient(to right, #383eec54, #23ffffc7) border-box;
  transition: 0.5s;
}

.btn__st:hover{
  box-shadow: 0px 0px 10px 0px rgb(190, 94, 250);
  background: linear-gradient(#bd91f7dc, #b88bf3) padding-box, linear-gradient(to right, #383eec54, #23ffffc7) border-box;
}

.btn__st:not(:active){
  background: linear-gradient(#caa3fddc, #b88bf3) padding-box, linear-gradient(to right, #383eec54, #23ffffc7) border-box;
}

.btn__st:active{
  background: linear-gradient(#bd91f7dc, #b88bf3) padding-box, linear-gradient(to right, #383eec54, #23ffffc7) border-box;
}




li{
    list-style-type: none;
}


/*header*/

header{
    
    background-repeat: no-repeat;
    background-size: cover;
}

.navbarinner{
    padding: 5px 16px 5px 16px;
    margin: 0 auto;
}

.navbar-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__phones{
    margin: 0;
    padding: 0;
}

.navbar__link{
    font-weight: 500;
    font-size: 11px;
    text-decoration: none;
    line-height: 13px;
    color: #FFFFFF;
}

.navbar__bottom{
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding-top: 10px;
}


.header-search:not(:active){
  background: transparent;
  background: url(../img/search.svg) no-repeat scroll 7px 7px;
  padding-left:30px;
  background-position: 10px 12px;
  margin-left: 0;
  width: 100%;
  
}

.header-search:active{
  background: transparent;
  padding-left:30px;
  background-position: 10px 12px;
  margin-left: 0;
  width: 100%;
}




.search{
  width: 80%;
}


.navbar__wrapper{
  padding: 5px 0 0 0;
  
}

/*header-brbox*/

.header__brbox{
  display: flex;
  padding: 5px 8px 5px 8px;
  align-items: center;
}

.boxpad{
  padding-left: 10px;
}

.br__boxitem a{
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: rgba(233, 222, 255, 1);
  text-decoration: none;

}

.boxpad a{
  padding-left: 13px;
}

/*crm block*/

#crm{
  background-image: url("../img/headercapa1.svg");
  background-repeat: no-repeat;
  background-size: cover;
}


.crm__container{
  padding: 75px 25px 0 25px;
  margin: 0 auto;

}


.crm__block{
  justify-content: center;
  text-align: center;
}




.crm__element h1{
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  text-shadow: rgba(215, 149, 255, 0.7) 2px 2px 10px ;
}

.crm__element img{
  width: 300px;
  margin: 0 auto;
  padding: 20px 0 30px 0;
}


/*services*/

.services__tittle h2{
  font-weight: 900;
  line-height: 30px;
  letter-spacing: -2%;
  text-align: center;
  max-width: 230px;
  margin: 0 auto;
}

.services__carts{
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 15px;
}

.services__cart{
  width: 160px;
  
}

.services__cart p{
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}


/*function*/

.function__wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.function__item{
  display: flex;
  border: 2px solid transparent;
  border-radius: 10px;
  background: linear-gradient(rgba(148, 0, 255, 1), rgba(148, 0, 255, 1)) padding-box, linear-gradient(to right, rgba(198, 79, 135, 0.83), rgba(198, 79, 135, 0.83)) border-box;
  box-shadow: 0px 0px 20px 0px rgba(215, 149, 255, 1);
  box-shadow: 0px 0px 10px 0px rgba(215, 149, 255, 1); 
  min-height: 190px;
}

.function__image{
  background: linear-gradient(230.07deg, #FFFFFF -50.81%, #0E9DDD 94.55%);
  gap: 0px;
  border-radius: 10px 0px 0px 10px;
  opacity: 0px;
  text-align: center;
  padding: 20px 0 0 0 ;
}

.function-logo{
  padding:  0 34px ;
}

.function__image img{
  display: block;
}

.function__info{
  background: rgba(72, 5, 114, 0.5);
  gap: 10px;
  border-radius: 0px 10px 10px 0px;
  opacity: 0px;
  padding: 10px 10px  10px;
}

.function__info-tittle{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.function__info-items{
  padding: 10px 0 0 0;
}

.function__info-item{
  display: flex;
  align-items: flex-start;
}

.function__info-item p{
  padding-left: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
}

.item-padding{
  padding: 10px 0 0 0 ;
}

#bitrix{
  padding-top: 12px;
}



/*form*/

.form__wrapper{
  padding: 0;
}

.card{
  background: rgba(72, 5, 114, 0.49);
  border: 2px solid transparent;
  border-radius: 32px;
  background: linear-gradient(#9400FF, #9400FF) padding-box, linear-gradient(to right, #C64F87D4, #C64F87D4) border-box;
  box-shadow: 0px 0px 10px 0px #9662FF;
  
}

.card__wrapper-color{
  border-radius: 32px;
  background: #4805727d;
}

.card__p{
  font-size: 14px;
  margin-bottom: 20px;
  color: #FFFFFF;
  
}

.card__input{
  padding: 10px 18px;
  background: transparent;
  border: none ;
  border-radius: 10px;
  border: 5px solid #9400FF;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  align-items: center;
}

.card__input::placeholder{
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
}

.card__input:focus::placeholder{
  color: transparent;
}

#card-select{
  padding: 11px 18px;
  
}

s

select{
  font-size: 14px;
}
       
option{
  font-size: 14px;
  font-weight: 400;
  background: #9c27f0;
}

select:focus{
  outline: none !important;
}

#inputtext{
  min-height: 110px;
  padding: 10px 18px ;
}

.form__btn{
  width: 100%;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  background: rgba(177, 149, 255, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(215, 149, 255, 1);
  font-weight: 700;
  font-size: 14px;
  padding: 10px 40px;
  border-radius: 20px;
  display: inline-block;
  border: 1px solid transparent;
  background: linear-gradient(#caa3fddc, #b88bf3) padding-box, linear-gradient(to right, #383eec54, #23ffffc7) border-box;
  transition: 0.5s;
}


.form__btn:hover{
  color: #FFFFFF;
  box-shadow: 0px 0px 10px 0px rgb(168, 81, 223);
  background: linear-gradient(#bd91f7dc, #b88bf3) padding-box, linear-gradient(to right, #383eec54, #23ffffc7) border-box;
}

.form__btn:not(:active){
  color: #FFFFFF;
  background: linear-gradient(#caa3fddc, #b88bf3) padding-box, linear-gradient(to right, #383eec54, #23ffffc7) border-box;
}

.form__btn:active{
  color: #FFFFFF;
  background: linear-gradient(#bd91f7dc, #b88bf3) padding-box, linear-gradient(to right, #383eec54, #23ffffc7) border-box;
}


/*favor*/

.favor__wrap h3{
  text-align: center;
}

.favor__block{
  padding: 45px 0 0 0;
}

.favor__items{
  background: linear-gradient(90deg, rgba(177, 149, 255, 0.7) 0%, rgba(177, 149, 255, 0.42) 0.01%, rgba(44, 48, 83, 0) 100%);
  border-radius: 20px 0 0 20px;
  padding: 14px 26px;
  gap: 9px;
}


.favor__items-wrap{

}

.favor__item{
  display: flex;
  height: 83px;
  align-items: center;
}

.favor__item:first-child{
  height: 60px;
}

.favor__item img{
  width: 40px;
  height: 43px;
}

.favor__item p {
  padding-left: 9px;
  width: 90%;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #FFFFFF;
}

.favor__img{
  display: none;
}


/*biz*/

.biz__tittle{
  text-align: center;
  font-weight: 700;
  letter-spacing: -2%;
}

.biz__par{
  text-align: center;
  padding-top: 5px;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 2%;
  background: linear-gradient(266.77deg, #FFFFFF -11.99%, #D795FF 42.41%, #7BC2FE 91.84%);
  color: transparent;
  background-clip: text;
}

.biz__elements{
  padding-top:45px ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.biz__img{
  text-align: center;
  padding: 25px 80px 13px 75px;
  background: linear-gradient(68.89deg, #1F0B32 3.44%, #1D1B7A 98.64%);
  border-radius: 30px;
}

.biz__img img{
  width: 117px;
  height: 120px;
}

.biz__img p{
  font-weight: 700;
  font-size: 10px;
  line-height: 20px;
  background: linear-gradient(176.42deg, #B195FF -126.75%, #D795FF 97.05%);
  color: transparent;
  background-clip: text;
  padding-top: 7px;
}

.biz__element{
  box-shadow: 0px 0px 10px 0px #D795FF80;
  border-radius: 30px;
  
}

.biz__element__wrap{
  padding: 33px 33.5px 26px 33px;
  border-radius: 0px;
  border: 2px solid transparent;
  box-shadow: inset 0px 0px 0px 100vw #421963B2;
  border-radius: 30px;
  background: linear-gradient(#9400FF, #9400FF) padding-box, linear-gradient(to right, rgba(198, 79, 135, 0.83), rgba(198, 79, 135, 0.83)) border-box;
}

.biz__p{
  padding: 12px 0 13px 0;
}

#biz__p-1{
  font-weight: 700;
  font-size: 16px;
  line-height: 17.6px;
  color: #FFFFFF;
}

#biz__p-2{
  padding-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 15.4px;
  color: #FFFFFF;
}

#biz__p-3{
  padding-top: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 15.4px;
  background: linear-gradient(176.42deg, #B195FF -126.75%, #D795FF 97.05%);
  color: transparent;
  background-clip: text;
}

.biz__btn__wrap{
  text-align: center;
}


.biz__btn{
  color: #FFFFFF;
  box-shadow: inset 0px 0px 0px 100vw #421963ec;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 23.28px;
  padding: 11px 34px 12px 34px;
  display: inline-block;
  border: 1px solid transparent;
  background: linear-gradient(#caa3fddc, #b88bf3) padding-box, linear-gradient(to right, #383eec54, #23ffffc7) border-box;
  transition: 0.5s;
  border-radius: 10px;
}

.biz__btn:hover{
  box-shadow: inset 0px 0px 0px 100vw #391657ec;
  background: linear-gradient(#aa85da, #b69ada) padding-box, linear-gradient(to right, #3a40f386, #23ffffe3) border-box;
}

.biz__btn:not(:active){
  background: linear-gradient(#caa3fddc, #b88bf3) padding-box, linear-gradient(to right, #383eec54, #23ffffc7) border-box;
}

.biz__btn:active{
  background: linear-gradient(#9774c5, #9980b9) padding-box, linear-gradient(to right, #161dddb7, #23ffffea) border-box;
}




/*linker*/


.linker__wrap{
  padding-top: 45px;
  
}



.linker__items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.linker__item{
  background: linear-gradient(68.89deg, #190b32 3.44%, #3f176d 98.64%);
  border-radius: 15px;
  width: 100%;
  max-width: 570px;
  max-height: 250px;
  border: 2px solid rgba(255, 192, 203, 0.719);
  box-shadow: 0px 0px 20px 0px #D795FF;
  box-shadow: 0px 0px 4px 0px #D795FF
}


.linker__item__wrap{
  padding: 19px 12px 18px 12px;
  border-radius: 15px;
  
  }


.linker__info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 10px 16px 10px 10px;
  background: #9E00FF26;
  border-radius: 10px;
  
}

.linker__tittle{
  display: flex;
  
  padding-top: 10px;
  align-items: center;
}

.linker__tittle p{
  padding-left: 10px;
  font-size: 14px;
  color: #FFFFFF;
  max-width: 265px;
  
}

.linker-info-p{
  font-weight: 400;
  font-size: 12px;
  float: left;
  color: #FFFFFF;
  width: 170px;
}

.linker-info-price{
  font-weight: 700;
  font-size: 18px;
  background: linear-gradient(176.42deg, #B195FF -126.75%, #D795FF 97.05%);
  color: transparent;
  background-clip: text;
  float: right;
  
}


.linker__button{
  padding-top: 20px;
  text-align: center;
}

.linker__btn{
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 23.28px;
  padding: 11px 34px 12px 34px;
  display: inline-block;
  border: 1px solid transparent;
  box-shadow: inset 0px 0px 0px 100vw #1E0044;
  border-radius: 10px;
  background: linear-gradient(#470999, #470999) padding-box, linear-gradient(to right, #383eec54, #23ffffc7) border-box;
  transition: 0.5s;

}

.linker__btn:hover{
  box-shadow: inset 0px 0px 0px 100vw #190236;
}

.linker__btn:not(:active){
  background: linear-gradient(#470999, #470999) padding-box, linear-gradient(to right, #383eec54, #23ffffc7) border-box;
 
}

.linker__btn:active{
  background: linear-gradient(#2f0664, #2f0468) padding-box, linear-gradient(to right, #0f15ca54, #0e7a7ae8) border-box;
}



/*crm link*/

.crm__link__wrapper{

}

.crm__link__tittle{
  text-align: center;
}

.crm__link__tittle h2{
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -2%;
  color: rgba(255, 255, 255, 1);
}

.crm__link__tittle p{
  padding-top: 5px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 2%;
  background: linear-gradient(266.77deg, #FFFFFF -11.99%, #D795FF 42.41%, #7BC2FE 91.84%);
  color: transparent;
  background-clip: text;
}

.crm__link__form{
  padding-top: 45px;
}

.crm__form__wrapper{
  padding: 44px 14px 44px 14px;
}

.crm__card{
  background: transparent;
  border-radius: 32px; 
  border: 2px solid transparent; /*2*/
  background: linear-gradient(266.77deg, #FFFFFF -11.99%, #D795FF 42.41%, #7BC2FE 91.84%); /*3*/
  box-shadow: 0px 0px 10px 0px rgba(150, 98, 255, 1);
}

.crm-card__wrapper-color{
  border-radius: 32px;
  background: rgba(106, 71, 150, 0.863);
}

.crm-card__input{
  padding: 10px 18px;
  background: transparent;
  border: none ;
  border-radius: 10px;
  border: 5px solid #caa3fddc;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
}

.crm-card__input option{
  background: #caa3fddc;
}

/*partners*/

.partners__tittle{
  text-align: center;
}

.partners__tittle h2{
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
  
  
}

.partners__img{
  padding-top: 24px;
  text-align: center;
}

.partners__links__wrap{
  padding-top: 57px;
  max-width: 380px;
  margin: 0 auto;
}

#partners__elements-bord{
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-image: linear-gradient(45deg, #00FFB7, #D795FF) 1;
}

#partners__elements-bordr{ 
  border-bottom: 1px solid;
  border-image: linear-gradient(45deg, #00FFB7, #D795FF) 1;
}

.partners__element{
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#partners-link{
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);

}


/*footer*/

footer{
  
}

.footer__top{
  margin-bottom: 40px;
}

.footer__menu{
  display: none;
}

.footer__contacts{
  color: #FFFFFF;
  padding: 0 35px;
}

.footer__contacts a{
  
}

.footer__contacts p {
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 35px;
  color: #dddddd;
}

.footer__tittle{
  text-align: center;
  margin-bottom: 25px;
  font-size: 32px;
}

.footer__dev-mobile{
  display: flex;
  text-align: center;
  margin: 35px auto;
  justify-content: center;
}

.footer__dev-img{
  display: block;
  width: 247px;
  height: 43px;
  
}

.footer__social-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px auto;
  align-items: center;
  padding: 0;
}

.footer__social-link img{
  margin: 0 15px;
  width: 26px;
  height: 20px;
}

.footer__map{
    overflow: hidden !important;
    box-shadow: 0px 0px 20px 0px #D795FF, 0px 0px 30px 0px #D795FF;
    border-radius: 10px;
    border: 1px solid #D795FF;
    max-height: 320px;
}

.footer__copyright{
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  font-size: 10px;
  margin-bottom: 40px;
}

.footer__copyright a{
  color: #ffffff;
  font-size: 10px;
  text-decoration: none;
}






























/*modal*/


  .modal {
    display: none; /* Скрыто по умолчанию */
    background-color: rgb(0,0,0); /* Затемнение фона */
    background-color: rgba(0,0,0,0.5); /* Полупрозрачное затемнение */
    z-index: 1; /* Фон на нижнем слое */
    overflow: hidden; /* При необходимости, то появиться прокрутка */
   
  }



  .modal-body{
    padding: 44px 16px;
    border-radius: 32px;
    background: #B77EFF80;

  }

  .modal-content {
    animation-name: animate;
    width: 340px;
    animation-duration: 0.5s;
    margin: 0 auto;
    top: 20%;
    border-radius: 32px;
  }

  @keyframes animate {
    from {top:-320px; opacity:0}
    to {top:0; opacity:1}
  }

  .modal-card__wrapper{

  }

  .modal-card__p{
    padding-top: 20px;
  }

  .modal-card__input{
    padding: 10px 18px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    border-radius: 10px;
    border: double 1px transparent;
    background-image: linear-gradient(white, white), linear-gradient(to right, #383FEC, #23FFFF);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }

 
  .modal__checkbox{
  padding-top: 20px;
  display: flex;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin: 0 auto;
  padding: 20px 37px 0 30px;
  align-items: flex-start;
  justify-content: space-between;
  }

  #modal__link{
  color: rgba(255, 255, 255, 1);
  }

  .modal-card__input:focus::placeholder{
  color: transparent;
  }




  /*burger*/





  #menuToggle
{
  display: block;
  position: relative;
  top: 2px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

#menuToggle li:active
{
  color: rgb(166, 71, 255);
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: linear-gradient(to right, rgba(123, 194, 254, 1), rgba(215, 149, 255, 1) , rgba(255, 255, 255, 1));
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
  
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
  
}

#menuToggle input:checked ~ span
{
  
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: linear-gradient(to right, rgba(123, 194, 254, 1), rgba(215, 149, 255, 1) , rgba(255, 255, 255, 1));
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  
  transform: rotate(-45deg) translate(0, -1px);
}



#menu
{
  
  position: absolute;
  width: 350px;
  height: 90vh;
  margin: -90px 0 0 -50px;
  padding: 110px 10px 50px 40px;
  border-radius: 20px;
  background: linear-gradient( rgba(29, 1, 65, 0.89),rgb(29, 1, 65) , rgba(255, 255, 255, 0) 100%);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.1s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 20px 0 20px 5px;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px solid ;
  border-image: linear-gradient(45deg,#D795FF , #00FFB7) 1;
  transition: color 0.3s ease;
}

#border-li{
  border-top: 1px solid ;
  border-image: linear-gradient(45deg, #D795FF , #00FFB7) 1;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

#menu-btn{
  margin: 20px 15px 0 15px ;
  width: 90%;
  text-align: center;
  
}

.i-menu{
  padding-right: 20px;
}

.menu-arrow{
  width: 22px;
  float: right;
  background: transparent;
}

.fa-arrow-right{
  float: right;
  padding-top: 5px;
  text-shadow:1px 1px 1px  #D795FF;
  text-shadow:1px 1px 1px  #D795FF;
  
}

.menu-arrow:hover{
  width: 22px;
  float: right;
}





/*media*/

@media (min-width: 640px){

  body{
    background-image: url("../img/bg2.png");
  }

  .section__wrap{
    padding: 0px 30px 0 30px;
  }

  /*navbar*/

  .navbarinner{
    display: none;
  }

  .navbar__bottom{
    display: none;
  }

  .navbarinner-sm{
    display: block;
    padding: 10px 15px 10px 15px;
    margin: 0 auto;
    background-color: rgba(29, 1, 65, 0.3);
    mix-blend-mode: normal;
}

.header__brbox{
  padding: 10px 0px 10px 10px;
  font-size: 12px;
  margin: 0px 45px 0px 45px;
}

#menu-btn-sm{
  padding: 5px 20px 5px 20px;
  font-size: 12px;
}

#menu-sm{
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  width: 250px;
  
}

#menu-sm a{
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  transition: 0.2s ease;
}

#menu-sm a:hover{
  text-shadow: 0px 0px 10px #ffffff;
}

#menu-sm a:visited {
  text-shadow: 0px 0px 10px #ffffff;
}


#menu-sm a::after{
  text-shadow: 0px 0px 10px #ffffff;
}


#menu-sm .active{
  text-shadow: 0px 0px 10px #ffffff;
}

.navbar-logo img{
  width: 160px;
  height: 55px;
}

.sticky__btns{
  zoom: normal;
}

/*crm*/

.crm__element img{
  width: 350px;
  padding: 30px 0 40px 0;
}

/*favor*/

.favor__img{
  display: block;
}

.favor__item{
  max-width: 642px;
}

.favor__items{
  margin: 35px 0 45px 0;
  padding: 14px 0 14px 26px;
}

.favor__img img{
  width: 300px;
  height: 350px;

}

.favor__block{
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners__wrap{
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 68px;
 
 gap: 20px;
 max-height: 240px;
}

.partners__links__wrap{
  padding: 0;
  width: 500px;
}

.partners__img{
  padding: 0;
  
}

.partners__links__wrap{
  margin: 0px;
}

.partners__element{
  padding: 25px 0;
}

}



@media (min-width: 1000px){

  .navbar-top img{
    width: 180px;
  }
  
  .section{
    padding: 120px 0 0 0 ;
  }

  .section__wrap{
    padding: 0 60px;
    
  }

  .crm__element h1{
    font-size: 64px;
    padding-left: 0px;
  }
  .crm__element{
    padding: 40px 0 50px 0;
  }

  .crm__element a{
    padding: 15px 40px;
  }


  .crm__element img{
    width: 400px;
  }

  /*services*/

  .services__tittle h2{
    max-width: 100%;
    font-size: 42px;
  }

  .services__carts img{
    width: 120px;
    height: 120px;
  }

  .services__carts{
    justify-content: center;
    padding-top: 46px;
    gap: 0;
    flex-wrap: nowrap;
    
  }

  .services__cart{
    width: 235px;
  }

  .services__carts p{
    float: left;
    font-size: 20px;
    line-height: 20px;
    width: 235px;
    max-height: 120px;
    padding: 20px 0 0 0;
    
  }

  /*function*/
  .function__wrapper{
    flex-wrap: nowrap;
    justify-content: center;
  }

  .function__image{
    border-radius: 20px 0 0 20px;
  }

  .function__item{
    border-radius: 20px;
  }

  .function__info{
    border-radius: 0 20px 20px 0;
    padding: 10px 10px 10px;
    max-width: 375px;
  }

  .function__info-items{
    padding-top: 20px;
  }

  .function__info-items img{
    width: 22px;
    height: 22px;
  }

  .function__info-tittle{
    font-size: 18px;
  }

  .function__info-item p{
    font-size: 16px;
    line-height: 20px;
  }

  .item-padding{
    padding-top: 10px;
  }

  .function__image img:first-child{
    margin: 0 auto;
  }
  
  .function__image img:last-child{
    width: 180px;
  }

  /*card*/

  .card__wrapper h2{
    font-size: 26px;
  }

  .card__p{
    max-width: 365px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .card__input::placeholder{
    font-size: 16px;

  }


  /*favor*/

  .favor__item p{
    font-size: 20px;
    line-height: 40px;
  }

  .favor__item img{
    width: 60px;
    height: 63px;
  }

  .favor__img img{
    width: 320px;
    height: 450px;
  }

  /*biz*/

  h3{
    font-size: 42px;
  }
  
  h2{
    font-size: 42px;
  }

  .biz__par{
    font-size: 30px;
  }

  

  .biz__element__wrap{
    display: flex;
    width: 100%;
    padding: 29px 48px 26px 26px;
  }

  .biz__img__wrap{
    padding-left: 17px;
    width: 320px;
  }

  #biz__p-1{
    font-size: 20px;
    width: 320px;
  }

  #biz__p-2, #biz__p-3{
    padding-top: 18px;
  }

  .biz__btn{
    margin-top: 28px;
    float: left;
  }

  .crm__link__tittle p {
    font-size: 30px;
    padding-top: 45px;
    max-width: 876px;
    margin: 0 auto;
    line-height: 40px;
  }

  .crm__link__tittle h2{
    
  }


  /*linkers*/

  .linker__item{
    max-width: 690px;
    max-height: 389px;
  }

  .linker__info{
   
  }

  .linker-info-p{
    font-size: 20px;
    width: 400px;
  }

  .linker-info-price{
    font-size: 30px;
  }

  .linker__info-wrap{
    min-height: 180px;
  }

  .linker__tittle{
    padding-top: 20px;
    
    
  }

  .linker__tittle p{
    font-size: 20px;
    max-width: 400px;
  }

  .linker__tittle img{
    width: 24px;
    height: 24px;
  }

  .partners__tittle h2{
    font-size: 42px;
  }

  .partners__tittle h2 br{
    display: none;
  }

  

  .partners__wrap{
    justify-content: space-between;
    max-height: 450px;
  }

  .partners__element{
    padding: 30px 0 30px 0;
  }

  .partners__links__wrap{
    width: 787px;
    max-width: 787px;
  }

  #partners-link{
    max-width: 500px;
    text-align: left;
    font-size: 23px;
  }

  .partners__img img{
    width: 437px;
    height: 200px;
  }

  

  .footer-sm{
    display: block;
  }

  

  .footer__cart{
    display: none;
   
  }

  .footer__cart-sm{
    display: block;
  }


  .footer__info__wrap-sm{
    display: none;
  }

  
  /*footer*/

  footer{
    display: flex;
    flex-direction: column;
    padding: 120px 10px 0 10px;
  }

  .footer__dev-mobile{
    display: none;
  }

  .footer__contacts{
    padding: 0;
  }

  .footer__menu{
    display: block;
    padding: 0;
  }
  
  .footer__contacts{
    
  }

  .footer__contacts p{
    font-size: 18px;
    margin-bottom: 5px;
  }

  .footer__tittle{
    text-align: left;
    font-size: 36px;
    margin-bottom: 36px;
  }

  .footer__menu a{
    font-size: 30px;
    line-height: 40px;
    color: #dddddd;
    text-decoration: none;
    font-weight: 500;
  }

  .footer__menu a,h3{
    margin-left: 10px;
  }

  .footer__links{
    padding: 0;
  }

  .footer__links li{
   margin-bottom: 30px;
  }

  .footer__top{
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  .footer__section{
    padding: 0 60px;
    margin: 0;
  }

  .footer__social-list{
    justify-content: left;
    margin: 25px 0 25px 0;
  }

  .footer__social-link img{
    margin: 0 25px 0 0;

  }
  
  .footer__devs img{
    margin:  auto;
    align-items: center;
    padding: 0;
    width: 226px;
    height: 35px;
  }

  .footer__copyright{
    flex-direction: row;
  }
  
  .footer__copyright a {
    margin-left: 110px;
}

#footer-cart{
  width: 400px;
}
}



@media (min-width: 1400px){

  .section{
    padding: 0;
    margin-top: 120px;
  }

  .section__wrap{
    width: 1400px;
    padding: ;
  }

  .navbarinner-sm{
    padding: 22px 20px 22px 0;
  }

  .navbar-top img{
    width: 274px;
    height: 40px;
  }

  .linker__btn{
    
  }

  #menu-sm{
    margin: 0 70px 0 0;
  }

  #menu-btn-sm{
    padding: 10px 35px;
    font-size: 16px;
  }

  .crm__element img{
    width: 704px;
    padding: 0;
  }

  .crm__element{
    padding:0 0 0px 0;
  }

  .crm__element a{
    padding: 15px 40px;
    font-size: 22px;
  }

  .crm__element-tittle{
    padding: 50px 0;
  }

  .services__tittle h2{
    font-size: 45px;
    line-height: 89px;
  }

  .services__carts {
    gap: 20px;
    justify-content: space-between;
  }

  .services__cart img{
    width: 200px;
    height: 200px;
  }
  
  .services__cart p{
    font-size: 25px;
    line-height: 25px;
  }

  .function__image img:last-child {
    width: 330px;
}

  .function-logo{
    width: 220px;
    height: 30px;
  }
  
  .function__info{
    padding: 20px;
  }

  .function__info-tittle{
    font-size: 24px;
  }

  .item-padding{
    padding-top: 30px;
  }

  .item-padding p {
    font-size: 20px;
    
  }



}
