@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

body{
font-family: "Play", sans-serif;
font-weight: 400;
font-style: normal;
background-image: url("../img/bg1.png");
background-repeat: no-repeat;
background-size: cover;

}


/*defoalt*/



h2{
  font-size: 24px;
  margin: 0;
  color: #FFFFFF;
}

h3{
  font-size: 20px;
  margin: 0;
  color: #FFFFFF;
  font-weight: 700;
}

input, textarea {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent;
}

p{
  margin: 0;
}

/*containers*/

.section {
  padding: 75px 0 0 0;
  margin: 0 auto;
}

.section__wrap{
  padding: 0px 10px 0 10px;
  margin: 0 auto;
  
}




/*btn*/

.btn__st{
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  background: rgba(177, 149, 255, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(215, 149, 255, 1);
  font-weight: 700;
  font-size: 14px;
  padding: 10px 40px;
  border-radius: 20px;
  display: inline-block;
  border: 1px solid transparent;
  background: linear-gradient(#caa3fddc, #b88bf3) padding-box, linear-gradient(to right, #383eec54, #23ffffc7) border-box;
  transition: 0.5s;
}

.btn__st:hover{
  box-shadow: 0px 0px 10px 0px rgb(190, 94, 250);
  background: linear-gradient(#bd91f7dc, #b88bf3) padding-box, linear-gradient(to right, #383eec54, #23ffffc7) border-box;
}

.btn__st:not(:active){
  background: linear-gradient(#caa3fddc, #b88bf3) padding-box, linear-gradient(to right, #383eec54, #23ffffc7) border-box;
}

.btn__st:active{
  background: linear-gradient(#bd91f7dc, #b88bf3) padding-box, linear-gradient(to right, #383eec54, #23ffffc7) border-box;
}




li{
    list-style-type: none;
}


/*header*/

header{
    
    background-repeat: no-repeat;
    background-size: cover;
}

.navbarinner{
    padding: 5px 16px 5px 16px;
    margin: 0 auto;
}

.navbar-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__phones{
    margin: 0;
    padding: 0;
}

.navbar__link{
    font-weight: 500;
    font-size: 11px;
    text-decoration: none;
    line-height: 13px;
    color: #FFFFFF;
}

.navbar__bottom{
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding-top: 10px;
}


.header-search:not(:active){
  background: transparent;
  background: url(../img/search.svg) no-repeat scroll 7px 7px;
  padding-left:30px;
  background-position: 10px 12px;
  margin-left: 0;
  width: 100%;
  
}

.header-search:active{
  background: transparent;
  padding-left:30px;
  background-position: 10px 12px;
  margin-left: 0;
  width: 100%;
}




.search{
  width: 80%;
}


.navbar__wrapper{
  padding: 5px 0 0 0;
  
}

/*header-brbox*/

.header__brbox{
  display: flex;
  padding: 5px 8px 5px 8px;
  align-items: center;
}

.boxpad{
  padding-left: 10px;
}

.br__boxitem a{
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: rgba(233, 222, 255, 1);
  text-decoration: none;

}

.boxpad a{
  padding-left: 13px;
}

/*crm block*/

#crm{
  padding-top: 75px;
}


.crm__container{
  padding: 0px 25px 0 25px;
  margin: 0 auto;
}


.crm__block{
  justify-content: center;
  text-align: center;
}




.crm__element h1{
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  text-shadow: rgba(215, 149, 255, 0.7) 2px 2px 10px ;

  
  
}

.crm__element img{
  width: 300px;
  margin: 0 auto;
  padding: 20px 0 30px 0;
}


/*services*/

.services__tittle h2{
  font-weight: 900;
  line-height: 30px;
  letter-spacing: -2%;
  text-align: center;
}

.services__carts{
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 15px;
}

.services__cart{
  width: 160px;
  
}

.services__cart p{
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}


/*function*/

.function__wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  

 


  
}

.function__item{
  display: flex;
  border: 1px solid transparent;
  border-radius: 10px;
  background: linear-gradient(rgba(148, 0, 255, 1), rgba(148, 0, 255, 1)) padding-box, linear-gradient(to right, rgba(198, 79, 135, 0.83), rgba(198, 79, 135, 0.83)) border-box;
  box-shadow: 0px 0px 20px 0px rgba(215, 149, 255, 1);
  box-shadow: 0px 0px 10px 0px rgba(215, 149, 255, 1); 
  min-height: 190px;
}

.function__image{
  background: linear-gradient(230.07deg, #FFFFFF -50.81%, #0E9DDD 94.55%);
  gap: 0px;
  border-radius: 10px 0px 0px 10px;
  opacity: 0px;
  text-align: center;
  padding: 20px 0 0 0 ;
  
}

.function-logo{
  padding:  0 34px ;
}

.function__image img{
  display: block;
}

.function__info{
  background: rgba(72, 5, 114, 0.5);
  gap: 10px;
  border-radius: 0px 10px 10px 0px;
  opacity: 0px;
  padding: 10px 10px  10px;
  
}

.function__info-tittle{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}


.function__info-items{
  padding: 10px 0 0 0;
  
}



.function__info-item{
  display: flex;
  align-items: flex-start;
}

.function__info-item p{
  padding-left: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
}

.item-padding{
  padding: 10px 0 0 0 ;
}

#bitrix{
  padding-top: 12px;
}



/*form*/

.form__wrapper{
  padding: 0;
}

.form__wrapper{
  
}

.card{
  background: rgba(72, 5, 114, 0.49);
  border: 1px solid transparent;
  border-radius: 32px;
  background: linear-gradient(#9400FF, #9400FF) padding-box, linear-gradient(to right, #C64F87D4, #C64F87D4) border-box;
  box-shadow: 0px 0px 10px 0px #9662FF;
  
}

.card__wrapper-color{
  border-radius: 32px;
  background: #4805727d;
}

.card__p{
  font-size: 14px;
  margin-bottom: 20px;
  color: #FFFFFF;
  
}

.card__input{
  padding: 10px 18px;
  background: transparent;
  border: none ;
  border-radius: 10px;
  border: 5px solid #9400FF;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
}

.card__input::placeholder{
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
}

.card__input:focus::placeholder{
  color: transparent;
}

#card-select{
  padding: 11px 18px;
  
}
       
option{
  font-size: 14px;
  font-weight: 400;
  background: #9c27f0;
}

select:focus{
  outline: none !important;
}

#inputtext{
  min-height: 110px;
  padding: 10px 18px ;
}

.form__btn{
  width: 100%;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  background: rgba(177, 149, 255, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(215, 149, 255, 1);
  font-weight: 700;
  font-size: 14px;
  padding: 10px 40px;
  border-radius: 20px;
  display: inline-block;
  border: 1px solid transparent;
  background: linear-gradient(#caa3fddc, #b88bf3) padding-box, linear-gradient(to right, #383eec54, #23ffffc7) border-box;
  transition: 0.5s;
}


.form__btn:hover{
  color: #FFFFFF;
  box-shadow: 0px 0px 10px 0px rgb(168, 81, 223);
  background: linear-gradient(#bd91f7dc, #b88bf3) padding-box, linear-gradient(to right, #383eec54, #23ffffc7) border-box;
}

.form__btn:not(:active){
  color: #FFFFFF;
  background: linear-gradient(#caa3fddc, #b88bf3) padding-box, linear-gradient(to right, #383eec54, #23ffffc7) border-box;
}

.form__btn:active{
  color: #FFFFFF;
  background: linear-gradient(#bd91f7dc, #b88bf3) padding-box, linear-gradient(to right, #383eec54, #23ffffc7) border-box;
}


/*favor*/

.favor__wrap{
  
}

.favor__wrap h3{
  text-align: center;
}

.favor__block{
  padding: 45px 0 0 0;
  

}

.favor__items{
  background: linear-gradient(90deg, rgba(177, 149, 255, 0.7) 0%, rgba(177, 149, 255, 0.42) 0.01%, rgba(44, 48, 83, 0) 100%);
  border-radius: 20px 0 0 20px;
  padding: 14px 26px;
}

.favor__item{
  display: flex;
  
}

.favor__item p {
  padding-left: 9px;
  width: 239px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #FFFFFF;
}

.favor__img{
  display: none;
}



/*burger*/
.toggle{
  position:relative;
  width:30px;
  height:30px;
  
  
 
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
  overflow:hidden;
  }

.toggle span{
  position:absolute;
  width:30px;
  height:4px;
  background: linear-gradient(to right, rgba(123, 194, 254, 1), rgba(215, 149, 255, 1) , rgba(255, 255, 255, 1));
  
  border-radius:5px;
  transition:0.5s;
 } 

.toggle span:nth-child(1){
  transform:translateY(-10px);
  width:25px;
  left:0px;
  }

.toggle.active span:nth-child(1){
  width:30px;
  transform:translateY(0px) rotate(45deg);
  transition-delay:0.125s;
  }

.toggle span:nth-child(2){
  transform:translateY(10px);
  width:15px;
  left:0px;
  }

.toggle.active span:nth-child(2){
  width:30px;
  transform:translateY(0px) rotate(315deg);
  transition-delay:0.25s;
  }

.toggle.active span:nth-child(3){
  transform:translateX(60px);
  }